.font-loader{ 
    font-family: 'typeface-dm-sans', sans-serif;
    text-align: center;
  }

 .btn-hover.color-1{
      font-family: 'typeface-dm-sans', sans-serif;
      text-align: center;
        background-image: linear-gradient(to right, #BB87CD, #ed6ea0, #b8988c , #FFFF);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
