version: '3.8'
services:
  db:
    image: mongo
    env_file: ./env/db.env
    ports:
      - 27017:27017
    volumes:
      - ~/mongo/data:/data/db
  api: 
    build: ./api
    env_file: ./env/api.env
    depends_on:
      - db
    ports:
      - 5000:5000
    volumes: 
      - ./api:/app
    environment: 
      - FLASK_APP=app
      - FLASK_ENV=development
      - FLASK_RUN_HOST=0.0.0.0
    command: ['flask', 'run']
  mongo-express:
    image: mongo-express
    env_file: ./env/mongo-express.env
    depends_on:
      - db
    ports:
      - 8081:8081
  client:
    build: client
    command: ["npm", "start"]
    volumes:
      - ./client:/frontend
      - node-modules:/frontend/node_modules
    environment:
      - NODE_ENV=development
    ports:
      - '3000:3000'
    depends_on:
      - api
volumes:
  node-modules: